.ability {
  width: 100px;
  height: 100px;
}
.abilityImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity var(--transition-normal);
  &:hover {
    opacity: 1;
  }
}
